<div>

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <br><br>
                                <h4 class="h4 text-gray-900 mb-4">ID IS : <%= catInformation[0].id %></h4>
                            </div>
                            <form class="user" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0 text-center">
                                        <h3 class="h3 text-gray-900 mb-4">Product Category : <%= catInformation[0].catName %></h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 mb-3 mb-sm-0 text-center">
                                        <h2 style="color: red;">Do You Really Want to Delete This Product Category??</h2>
                                    </div>
                                </div><hr>
                                <button class = "btn btn-danger btn-user btn-block">Delete</button>
                                <a href="/home/manager/seeCategories" class="btn btn-warning btn-user btn-block">
                                    No
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
